<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <h5><%= restaurant.id %>. <%= restaurant.name %> - <%= 'â­ï¸' * rand(1..5) %> - <%= restaurant.category %></h5>
<% end %>
<p>Here are your <%= @restaurants.count %> restaurants!</p>

<%= link_to 'Add new restaurant', new_restaurant_path(@restaurant) %>

<%# add links to edit and delete and related code %>
